.button {
  display: flex;
  border: none;
  background-color: #f0fdec;
  padding: 12px 32px;
  border-radius: 6px;
  color: #3f4a3c;
  cursor: pointer;
  transition: background-color 0.1s;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #d8e4d4;
  }
}
