<app-card>
  <app-form
    (getFormEvent)="handleFormEvent($event)"
    [toggleLoading]="toggleLoading"
  />
</app-card>

<app-card *ngIf="isLoading">
  <app-loader />
</app-card>

<app-card *ngIf="addressData">
  <div class="content">
    <p><strong>cep: </strong>{{ addressData.cep }}</p>
    <p><strong>logradouro: </strong>{{ addressData.logradouro }}</p>
    <p><strong>bairro: </strong>{{ addressData.bairro }}</p>
    <p><strong>localidade: </strong>{{ addressData.localidade }}</p>
    <p><strong>uf: </strong>{{ addressData.uf }}</p>

    <app-button [href]="['/cep', addressData.cep]" text="Ver mais" />
  </div>
</app-card>
